* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #ffffff;

  --base-color: 194;
  --primary-color: hsl(var(--base-color), 100%, 63%);
  --bg-primary-light: hsla(var(--base-color), 100%, 63%, 0.13);
  --text-color: #323238;
  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: space-evenly;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: transparent;
  border: none;

  cursor: pointer;
}

button svg {
  width: clamp(3.2rem, 2rem + 12vw, 6.4rem);
}

.hide {
  display: none;
}

.play svg path,
.pause svg path,
.sound-on svg path,
.set svg path,
.stop svg path {
  fill: var(--text-color);
}

#timer {
  font-size: 12.5rem;
  display: flex;
  margin-bottom: 1.6rem;
}

#controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.7rem;

  width: clamp(10rem, 10rem + 30vw, 22.8rem);
  height: clamp(8rem, 1rem + 10vw, 10.8rem);
}

footer {
  display: flex;
  justify-self: center;
  align-self: center;

  width: 33rem;

  flex-wrap: wrap;
  gap: 3rem;

}

footer button svg {
  width: 14rem;
}
