* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /*10px*/
  
  /*FONT STYLE*/
  --ff-heading: 'Staatliches', cursive;
  --ff-text: 'Palanquin', sans-serif;

  /*FONT SIZE*/
  --fs-heading: 4rem;
  --fs-heading-small: 2rem; 
  --fs-text: 1.5rem;

  /*COLOR*/
  --bg-primary: hsl(218, 17%, 62%);
  --bg-secondary: hsl(233, 100%, 97%);
  --bg-third: hsl(275, 18%, 79%);
  --bg-fourth: hsl(312, 91%, 96%);
  --fc-primary: hsl(0, 0%, 100%);
  --fc-secondary: hsl(274, 84%, 12%);
  --fc-third: hsl(232, 17%, 35%);
}

body {
  background-color: var(--bg-secondary);
  margin: 0 auto;


}

body::before {
  content: ' ';
  width: 100%;
  height: 27.9rem;
  background-color:var(--bg-primary);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  
}

header {
  text-align: center;
  margin-top: 3.2rem;

}

header img {
  width: 100%;
  height: 13.7rem;
}

header h1 {
  font-family: var(--ff-heading);
  font-size: var(--fs-heading);
  font-weight: 400;

  width: 100%;

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  color: var(--fc-primary);

  background-color: var(--bg-third);
  
  margin-top: 3.2rem;

}

main {
  margin: 5rem auto 6rem;

  max-width: 38rem;
  padding: 0 3.2rem;


  display: grid;
  gap: 3.2rem;
  justify-content: center;
}

p {
  font-family: var(--ff-text);
  font-size: var(--fs-text);
  font-weight: 400;
  line-height: 15px;

  margin-bottom: 3rem;

  height: 7.5rem;

  text-align: center;
}

.card {
  position: relative;

}


.card img {
  width: 32rem;

  border-radius: 2rem;

  animation: downtop 700ms ease-in-out;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card:nth-child(1) {
  margin-top: 6rem;
}


.card h2 {
  position: absolute;
  top: 17px;
  right: 16px;

  font-family: var(--ff-heading);
  font-size: var(--fs-heading-small);
  font-weight: 400;
  color: var(--fc-third);
  line-height: 3.4rem;
  letter-spacing: 1px;

  opacity: 0%;


  background-color: var(--bg-fourth);

  padding: 1px 2.3rem ;
  border-radius: 2rem;

  animation: topdown 500ms 600ms ease-in-out forwards;
}

/*ANIMAÇÃO*/

@keyframes downtop {
  0% {
    transform: translateY(100px);
    opacity: 0%;
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes topdown {
  0% {
    transform: translateY(-30px);
    opacity: 0%;
    }

  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}