* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #E5E5E5;
  font-family: 'Poppins', sans-serif;

}


body::before {
  content: '';
  width: 100%;
  height: 436px;
  background: #535971;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

}


h1, legend, button {
  font-family: 'Staatliches', cursive;
  font-weight: normal;
  
}

#page {
  width: 750px;
  margin: 0 auto;
}

header {
  margin-top: 140px;
  width: 50%;
}

header h1 {
  font-size: 48px;
  line-height: 60px;
  color: #FFFFFF;
}

header p {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  
  color: #FFFFFF;

  margin-top: 18px;
}

form {
  background: #FFFFFF;
  border-radius: 20px 20px 0px 0px;
  
  margin-top: 58px;
  padding: 64px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;

  
}

.fieldset-wrapper legend {
  font-size: 24px;
  line-height: 34px;
  color: #535971;

  border-bottom: 1px solid #E6E6F0;
  padding-bottom: 16px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 100%;
}

.input-wrapper label {
  font-size: 14px;
  line-height: 24px;
  color: #4E4958;
}

.input-wrapper label span {
  font-size: 12px;
  line-height: 20px;

  color: #C1BCCC;
}

.input-wrapper label span:hover{
  color: #95919c;
}

.input-wrapper input {
  background: #FAFAFC;
  height: 56px;
  width: 100%;

  padding: 0 24px;

  font-size: 16px;
  line-height: 26px;

  color: #6c6a71;

  border: 1px solid #E6E6F0;
  border-radius: 8px;
}

.col-2 {
  display: flex;
  gap: 22px;
}


.col-23 {
  display: flex;
  gap: 32px;
}

.col-22 {
  display: flex;
  gap: 10px;
}

.col-22 div, .col-23 div {
  width: 100%;
}

legend p {
  font-size: 20px;
  line-height: 34px;

}

footer {
  height: 160px;
  margin-bottom: 366px;

  background: #535971;
  border-radius: 0px 0px 20px 20px;

  display: flex;
  flex-direction: column;
  justify-items: center; 
}

footer .button {
  background: #FF5374;
  height: 56px;
  left: 416px;
  
  margin: 52px 71px;
  
  border-radius: 20px;
  border: none;


  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
}

footer .button:hover {
  background: #db4462;
  cursor: pointer;
}

input:invalid {
  border: 2px solid rgb(197, 4, 4);
}


